* {
  font-family: "Lucida Sans", sans-serif;
  margin: 0;
  border: 0;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}






#Intro{
  background: #6bc1bf;
  position: absolute;
}

#descriptionTitle {
  font-size: 2rem;
  text-align: center;
  color: black;
  border-style: solid;
  border-width: 3px;
  padding: 1rem;
  margin: 1rem;
}

#description {
  font-size: 1.5rem;
  text-align: center;
  color: black;
  padding: 2rem;
}



#dollHouse {
  /* display: flex; */
  border-bottom-style: solid;
  border-width: 3px;
  border-bottom-color: aliceblue;
  width: 100%;
  bottom: 0%;
}

#closeHome {
  position: absolute;
  font-size: 1rem;
  background-color: skyblue;
  opacity: 1;
  width: 10%;
  height: 5%;
  left:45%;
  transition-duration: .5s;
  text-align: center;
}
/* #leftTree{
  display: inline-grid;
  position: absolute;
  vertical-align: bottom;
  background: url(tree.svg);
  background-repeat: no-repeat;
  height:50%;
  width: 24%;
  bottom:10%;
  left: 5%;
}
#rightTree{
  display: inline-grid;
  position: absolute;
  vertical-align: bottom;
  background: url(tree.svg);
  background-repeat: no-repeat;
  height:50%;
  width: 24%;
  bottom:10%;
  left: 71%;
} */
#housePic{
  display: inline-grid;
  position: absolute;
  vertical-align: bottom;
  background:url(DollHouseRe.svg) no-repeat;
  align: center;
  width:100%;
  height: 100%;
  bottom: -40%;
}
#closeHome:hover {
  background-color: #FF7373;
}

#screen{
position:absolute;

}

input[type=range] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

b {
  color: red;
}

.cubbyCopier {
  display: none;
}

.bubble span, .bubble p {
  font-size: 1rem !important;

}

.bubble {
  position: absolute;
  min-height: 1rem;
  padding: 1rem;
  margin: 1rem;
  background: #FFFFFF;
  display: none;
  border: #7F7F7F solid 0.3rem;
  border-radius: 1rem;
}

.highlightPart {
  animation: pulsate 2s infinite;
  stroke: rgba(255, 0, 0, 0.55);
  stroke-width: 1%;
}

@keyframes pulsate {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

/*.bubble:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 60%;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
}
.bubble:before {
    content: "";
    position: absolute;
    bottom: -19.5px;
    left: calc(60% - 3px);
    border-style: solid;
    border-width: 18px 18px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
}*/

#thoughtBubble{


}


@keyframes thoughtPopKey {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
  }
}

.thoughtPop {
  animation-name: thoughtPopKey;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

#roomSVG {
  position:absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  height:80%;
}

#triggersLeft {
  position: absolute;
  top: 1.25rem;
  left: 2.2rem;
  font-family: "Lucida Sans", sans-serif;
  font-size: 2em;
  color: white;
  padding: 1rem;
  background-color: #b01616;
  border-radius: .5rem;
  border-color: white;
}


#phaseNum {
  position: absolute;
  top: 1.25rem;
  right: .75rem;
  font-family: "Lucida Sans", sans-serif;
  font-size: 2em;
  color: white;
  padding: 1rem;
  background-color: #b01616;
  border-radius: .5rem;
  border-color: white;
}

#thoughtHeader {
  display: flex;
  color: white;
  background-color: #002966;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#thoughtHeaderText {
  flex-grow: 50;
  border-color: blue;
  background-color: #002966;
  font-size: 1.3rem;
}

#close {
  align-self: flex-end;
  top:0;
  padding: 10px;
  background: #002966;
  font-size: 1.3rem;
  transition-duration: 0.4s;
}

#close:hover {
  background: #b30000;
}

#cubbyHint
{
position:absolute;
text-align: center;
top:-50%;
font-size:1.5rem;
padding:1.5rem;
width:auto;
}




#treasureChest {
  position:absolute;
  background-color:  #331a00;
  width: 80%;
  top:80%;
  height: 17%;
  padding: 0 10%;
  margin: auto;
  display: flex;
  z-index: 0;
  /* border-style: solid;
  border-width: .5em 7em;
  border-color: #663300; */
}
#help{
  position: absolute;
  padding: .5rem;
  font-family: "Lucida Sans", sans-serif;
  font-size: 2em;
  border-radius: 100%;
  border: solid .3rem #666666;
  background-color: #fff;
  float: left;
  z-index: 1;
  text-align: center;
  left:8%;
  bottom:91%;
  transition: background-color 0.5s ease;

}

#help:hover #helpPopUp{
display:block;

}


.helpPhase0:hover{
  background-color: #b01616!important;
  color: white;
}

.helpPhase1:hover{
  background-color: #00e673!important;
  color: white;
}




.helpButton .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.popuptext {
display:none;
    width: 15em;
    height: auto;
    top:200%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: .6rem;
    padding: .8rem 0;
    position: absolute;
    z-index: 130;
    margin-left: -3em;
}
.popuptext:after {
    content: "";
    position: absolute;
    top: -6%;
    left: 21%;
    margin-left: -.2rem;
    border-width: .5rem;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
}
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.cubbyCopy {
  margin:auto;
  height:80%;
  width: 100%;
  border: .2rem solid black;
  background-color: #663500;
  transition: background-color 0.5s ease;

}
.cubbyCopy:hover{
  background-color: #ffdbdb;
}




@keyframes fadeOut {
  from {
    opacity: 1;

  }
  to{
    opacity:0;

  }
}


  @keyframes fadeIn {
  from {
    opacity: 0;

    }
to {
        opacity:1;

    }
/*
    90% {
        opacity:1;

    }
  100% {
        opacity:0;

    } */


  }

  @keyframes crawl {
    0% {
      top: 0%
    }
    100% {
      top: -80%
    }

  }
#creators{
  opacity:0;
  text-align: center;
animation: fadeIn,fadeOut ;
 animation-duration:2s,2s;
 animation-iteration-count:1,1;
 animation-delay:0s,4s;
 animation-fill-mode: forwards,forwards;
}

#developers{
 opacity:0;
 text-align: center;
  animation: fadeIn, fadeOut;
animation-duration: 2s,2s;
animation-iteration-count:1,1;
animation-delay: 6s, 10s;
animation-fill-mode: forwards,forwards;

}

#crawl{
  opacity:0;
  text-align: center;
  animation: fadeIn,crawl;
  animation-duration: 1s,8s;
  animation-delay: 13s,14s;
  animation-direction: normal,normal;
  top:0%;
  position: absolute;
  animation-timing-function: linear;
  animation-fill-mode: forwards,forwards;
}
#creators,#developers{
position:absolute;
top: 1rem;
left: 1rem;
}
#credits{
position:relative;
width:20rem;
height:25rem;

  overflow:hidden;

}
